@charset "UTF-8";

body {
	padding: 0;
	margin: 0;
}
.wrapper {
	height: 500px;
	position: relative;
	width: 500px;
}
.serif {
	color: #fff;
	font-size: 80px;
	position: absolute;
	text-align: center;
	top: 60px;
	width: 100%;
	z-index: 100;
}
canvas {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
}
