@charset "UTF-8";

.wrapper {
	border: 1px solid #bbb;
	position: relative;
	width: 400px;
}
canvas {
	position: relative;
	z-index: 1;
	vertical-align: top;
}
.is-hide {
	opacity: 0;
}
.img {
	position: absolute;
	width: 100%;
	z-index: 100;
}